:root{
    --primary : #1E5128;
}

.signup {
    padding: 8px 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    background-color: var(--primary);
}

.signup:hover {
    padding: 6px 18px;
    transition: all 0.3s ease-out;
    background-color: transparent;
    color: rgb(4, 112, 24);
    border-radius: 4px;
    border: 2px solid var(--primary);
    transition: all 0.3s ease-out;
}